<!DOCTYPE html>
<html>
	<head>
		<title>UNBLOGGED</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i id="hell" class="pencil alternate icon"></i><a href="/">UNBLOGGED</a></div>
				<a href="/blogs/new" class="item">Brew a New Blog</a>
			</div>
		</div>	